.news-card {
    background-color: #f5f5f5;
    border: none;
    border-radius: 8px;
    overflow: hidden;
    /* padding: 20px; */
    /* margin-bottom: 20px; */

}

.news-card .row {
    height: 100%;
}

.news-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.breadcrumb-item a {
    text-decoration: none;
    color: #6c757d;
}

.breadcrumb-item.active {
    color: #000;
}


/* ================================= */


.d-flex.align-items-center {
    gap: 200px;

}

.text-muted {
    font-size: 0.875rem;

}

.mb-2 {
    margin-bottom: .5rem !important
}

.overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.overlay h3 {
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    margin-bottom: 5px;
    color: #d1b47d;
}

.overlay h5 {
    font-size: 1.2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.col-md-5 p {
    font-size: 14px;
    margin: 10px 0;

}

/* ==================================== */
/* Tất cả bài viết */

.card-body {
    min-height: 150px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}

.card-img-top {
    object-fit: cover;
    height: 220px;
    width: 100%;
}


.card {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

.row {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
}

.row h2 {
    font-size: 28px;
    text-align: center;
    color: #333;
    font-weight: bold;
}

.card-body h6 {
    font-size: 16px;
    color: #007bff;
    font-weight: bold;
}

.card-body p {
    font-size: 14px;
    color: #555;
    line-height: 1.5;
    margin-bottom: 0;
}


/* =================================== */
.list-group-item {
    transition: all 0.3s ease;
}

.list-group-item:hover {
    background-color: #f8f9fa;
    transform: scale(1.02);
}

.list-group-item h6 {
    font-size: .9rem;
    font-weight: 600;
    padding-top: 5px;
}

.list-group-item .text-muted {
    font-size: .7rem;
    color: #6c757d;
    font-weight: 100;

}

.list-group-item small {
    font-size: 0.85rem;
    color: #6c757d;
}
/* --------------------------------- */
/* bảo hành */
.feature-box {
    background-color: #e0e0e0; 
      border: 1px solid #d1d1d1; 
      padding: 15px;
      display: flex; 
      align-items: center; 
      gap: 45px; 
      justify-items: center;
      text-align:center; 
      padding-left: 60px;
  }
  .feature-icon {
    font-size: 3rem;
    display: flex;
    justify-items: center;
    align-items: center;
    color: #333;
    padding-bottom: 5px;
  }
  .feature-text {
    text-align: center; 
    margin-top: 15px; 
}

  .custom-container {
    margin: 0 auto;
  }

  .custom-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }

  .custom-row > [class*="col-"] {
    padding-right: 1px;
    padding-left: 1px;
  }