
.header-afk {
    position: relative;
    text-align: center;
    margin-bottom: 20px;
}

.header-afk img {
    width: 100%;
    height: auto;
    border-radius: 8px;
 
}

.header-afk .text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Lớp phủ mờ */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
}
.header-afk .text-overlay h2 {
    font-family: 'Georgia', serif;
    font-size: 24px;
    margin: 10px 0;

}

.header-afk .text-overlay p {
    font-size: 16px;
}

.afk-container {
    max-width: 800px;
    margin: 0 auto 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.font-afk h1 {
    font-size: 40px;
    font-weight: bold;  
    color: #151515;
    text-align: center;
    margin: 60px;
}

.faq-item {
    border: 1px solid #bab7b7;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 15px;
    background-color: #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-item:hover {
    background-color: #f9f9f9;
}

.faq-item h2 {
    font-size: 20px;
    color: #303030;
    margin: 0;
    font-weight: 500;

}
.faq-content h4 {
    font-size: 18px;
    color: #303030;
    margin: 0;
    font-weight: 600;
}

.faq-item i {
    color: #4a4a4a;
}
.faq-content a {
    color: #007BFF;
    text-decoration: none;
}
.faq-content {
    display: none;
    padding: 10px 15px;
    border-top: 1px solid #e0e0e0;
    font-size: 16px;
    color: #4a4a4a;
}
 /* bảo hành */
 .feature-box {
    background-color: #e0e0e0;
    border: 1px solid #d1d1d1;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 45px;
    justify-items: center;
    text-align: center;
    padding-left: 60px;
}

.feature-icon {
    font-size: 3rem;
    display: flex;
    justify-items: center;
    align-items: center;
    color: #333;
    padding-bottom: 5px;
}

.feature-text {
    text-align: center;
    margin-top: 15px;
}

.custom-container {
    margin: 0 auto;
}

.custom-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.custom-row>[class*="col-"] {
    padding-right: 1px;
    padding-left: 1px;
}