.password-reset{
    font-family: sans-serif, TAHOMA;
    background-color: #f5f7fa;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #4a4a4a;
}

.password-reset-wrapper {
    text-align: center;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 50px;
}

.password-reset-wrapper h1 {
    font-size: 32px;
    margin-bottom: 10px;
    color: #4a4a4a;
}

.password-reset-wrapper p {
    font-size: 16px;
    margin-bottom: 30px;
    color: #4a4a4a;
}

.password-reset-wrapper .email-input-group {
    margin-bottom: 20px;
}

.password-reset-wrapper .email-input-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 10px;
    color: #4a4a4a;
}

.password-reset-wrapper .email-input-box {
    display: inline-flex;
    align-items: center;
    width: 100%;
    max-width: 300px;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    background-color: #fff;
    position: relative;
}

/* Định dạng cho biểu tượng thư (email icon) */
.password-reset-wrapper .email-input-box .email-icon {
    position: absolute;
    left: 10px;
    font-size: 16px;
    color: #aaa;
}

/* Định dạng cho input email */
.password-reset-wrapper .email-input {
    width: 100%;
    padding: 10px 10px 10px 30px; /* Extra padding on the left for the icon */
    font-size: 14px;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #fff;
}

.password-reset-wrapper .reset-button {
    background-color: #dcdcdc;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: not-allowed;
    width: 300px;
    box-sizing: border-box;
}

.security-note {
    background-color: #e9f2fb;
    padding: 10px;
    font-size: 18px;
    color: #4391eb;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #0276fa;
}
