html{
    margin: 0px;
    font-family: sans-serif, TAHOMA;
    overflow-y: scroll;
}

/* ---------------- NAV -------------------- */
.top-bar {
    background-color: #001F3F;
    text-align: center;
    padding: 5px 0;
    font-size: 0.9rem;
    color: #fff;
}

/* Navbar general styling */
.navbar {
    padding: 0 30px;
    justify-content: space-between;
}

/* Brand logo style */
.navbar-brand {
    font-family: "Italiana", serif;
    font-size: 30px;
    color: #001F3F;
    text-decoration: none;
}

/* Navbar links */
.navbar-nav {
    gap: 25px;
}

.nav-link {
    color: rgba(0, 11, 66, 0.68);
    position: relative;
    text-decoration: none;
    font-size: 1rem;
}


/* Underline effect ở hover */
.navbar-nav .nav-link::before {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    bottom: 0;
    left: 50%;
    background-color: black;
    transition: width 0.3s ease, left 0.3s ease;
    transform: translateX(-50%);
}

.navbar-nav .nav-link:hover::before {
    width: 100%;
    left: 50%;
}
.dropdown-menu {
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 0;
    transform: translateY(-10px);
    display: block;
    visibility: hidden;
    border: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown:hover .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}

.dropdown-item {
    color: #333;
    text-decoration: none; /* Remove underline from dropdown items */
}

.dropdown-item:hover {
    color: #000;
}

/* --------------------- Home --------------------------- */
#sec1{
margin-top: 65px;
}

.home-hero{
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    height: 90vh;
    background-image: url('../images/HomeHero.jpg');
}

.home-hero .herotext{
    margin-bottom: 170px;
}

.home-hero .herolink{
    color: #fff;
    text-decoration: none;
    margin: 15px 20px;
    font-size: 20px; 
}