/* Reset */
* {
    box-sizing: border-box;
}

/* Body với navbar*/
body {
    font-family: Arial, sans-serif;
    color: #333;
}

.top-bar {
    background-color: #001F3F;
    font-size: 0.9rem;
    color: #fff;

}

.logo {
    font-size: 40px;
    font-family: 'Italiana', serif;
}
.logo a{
    text-decoration: none;
    color: #201f1f;
}
.icons a {
    margin-left: 30px;
    color: #333;
}

.icons a:hover {
    color: #000;
}

.icons i {
    font-size: 1.2rem;
}


.navbar-nav .nav-link {
    color: #333;
    font-size: 1rem;
}

.navbar-nav .nav-link:hover {
    color: #000;
}
.dropdown-menu {
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 0;
    transform: translateY(-10px);
    display: block; /* Allows us to control visibility with opacity */
    visibility: hidden;
}

.dropdown:hover .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}

/* Footer */
footer {
    font-size: 0.9rem;
}
